@model ProjetoServicoWork.Models.RegistroServico

<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<div class="container">
    <h4>Informação</h4>
    <span> Meus dados</span>
</div>


<span class="Exception-Alert">
    @ViewBag.Erro
    @{
                        var erro = TempData["Erro"] as string;
    }

    @if (!string.IsNullOrEmpty(erro))
    {
                        <div class="alert alert-danger" role="alert">
                            @erro
                        </div>
    }
</span>

<form asp-action="CreateDados" id="myForm" method="post">
    <div class="container">
        <div class="form-group col-md-5 col-lg-5">
            <label asp-for="LinhaTempo" class="control-label">Linha do tempo</label>
            <select onchange="AlteraLabelTipoDocumento();" asp-for="LinhaTempo" class="form-control" required>
                <option value="" disabled="" selected>Selecione</option>
                <option value="Passado">Passado</option>
                <option value="Presente">Presente</option>
                <option value="Futuro">Futuro</option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                <label asp-for="Titulo" id="pesNumDocLabel" class="control-label">Título</label>
                <input asp-for="Titulo" type="text" id="pesNumDoc" class="form-control" required />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <textarea name="Descricao" id="Descricao" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                <label asp-for="Anotacoes" class="control-label">Anotações</label>
                <input name="Anotacoes" id="Anotacoes" class="form-control" />
                <span asp-validation-for="Anotacoes" class="text-danger"></span>
            </div>
        </div>
        @{
                            var name = User.Claims.FirstOrDefault(t => t.Type == "name")?.Value;
                            var splitName = name?.Split(" ");
                            var firstName = (splitName?.Count() > 1 ? splitName[0] : splitName?.Count() > 0 ? name : " - ");
        }
        <div class="display-none">
            <input type="text" placeholder="Usuario" name="modEvtUsu" value="@name" readonly />
            <input type="text" placeholder="Usuario" name="idEvt" value="@ViewBag.idEvento" readonly />
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button style="background-color:blue" type="button" class="cancelbtn" onclick="enableAndSubmit()">Cadastro</button>

            <button style="background-color:blue" class="cancelbtn" onclick="voltarPagina()" class="voltar">Voltar</button>
        </div>
    </div>
</form>