<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Meu Serviço</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">

                    <i class="fa fa-car"></i> Meu Serviço

                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">

                            <a class="nav-link"
                               asp-controller="Carro"
                               asp-action="Index">

                                <i class="fa fa-car"></i> Meus Carros

                            </a>

                        </li>

                    </ul>

                    <partial name="_LoginPartial" />

                </div>

            </div>

        </nav>

    </header>

    <div class="container mt-4">

        <main role="main">

            @RenderBody()

        </main>

    </div>

    <footer class="border-top text-muted mt-5">

        <div class="container">

            © 2026 - Meu Serviço

        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>