
@using Auth.Models;
@model ChangePasswordViewModel



<form asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Alterar Senha</button>
</form>
