@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<link rel="stylesheet" href="styles.css">

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/logo-sesc .png" class="d-inline-block align-top" alt="Logo da Copa Sesc">
            </a>
            <h1 class="text-white">Bem-vindo Ó Copa Sesc</h1>
            <p class="text-white">Prepare-se para a emocionante competińŃo</p>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">@name</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </nav>
</div>

<main class="container mt-4">

    @* <section class="intro">
        <h2>Sobre a Copa Sesc</h2>
        <p>A Copa Sesc ķ um evento esportivo anual que re·ne atletas de todo o estado de Goias para competir em vßrias modalidades esportivas. ╔ uma oportunidade de promover o espĒrito esportivo e a integrańŃo entre pessoas de todas as idades.</p>
    </section> *@

   @*  <div class="text-center mt-4">
        <a href="" class="btn btn-primary">Realizar Login</a>
        <a href="#" class="btn btn-secondary">Cadastrar-se</a>
    </div> *@


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
