@model MeuServico.Application.Dtos.CarroDto

<h3>Detalhes do Carro</h3>

<div>
    <strong>Placa:</strong> @Model.Placa
</div>

<div>
    <strong>Marca:</strong> @Model.Marca
</div>

<div>
    <strong>Modelo:</strong> @Model.Modelo
</div>

<br />

<a asp-action="Index" class="btn btn-secondary">Voltar</a>  