<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Logout" asp-controller="Home">Olá, @User.Identity.Name</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Login" asp-controller="Home">Login</a>
        </li>
    }
</ul>